<html>
  <head>
    <meta charset="utf-8" />
    <title>Sketch Licensing</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/zephyr/bootstrap.min.css"
    />
  </head>
  <body>
    <div
      class="card bg-secondary mb-3"
      style="margin: 20px auto 0 auto; max-width: 600px;"
    >
      <div class="card-header">Krunker Sketch License</div>
      <div class="card-body">
        <div class="alert alert-warning">
          <p class="mb-0">This key will expire in 10 minutes if you don't use
            it.</p>
        </div>
        <p>You will be asked to enter this key once you return to Krunker.</p>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            id="accessKey"
            value="{{accessKey}}"
            readonly
          />
          <button
            class="btn btn-primary"
            type="button"
            onclick="window.accessKey.select();navigator.clipboard.writeText(window.accessKey.value);"
          >Copy</button>
        </div>
        <p>
          If you haven't already,
          <a href="https://krunker.zip/">install Sketch</a>
        </p>
        <a
          class="btn btn-primary mb-3"
          href="https://krunker.io/"
          role="button"
        >
          Return to Krunker
        </a>
      </div>
    </div>
    <script>
      history.replaceState(document.title, document.title, "/redirect?lv=" +
      Math.random().toString().slice(2, new
      URLSearchParams(location.search).get("lv").length + 2))
    </script>
  </body>
</html>